*, *::after, *::before {
    box-sizing: border-box;
}

.text-footer {
    margin: 2% 0;
}

body{
    width: 100%;
}

.flex-container-end-responsive{
    justify-content: flex-end;
}


.center-head{
    margin: 0 auto;
}

.flex-container, flex-container object{
    display: flex;
}

.flex-container-wrap{
    flex-wrap: wrap;
}

.flex-container-row-responsive{
    flex-direction: row;
}

.svg-object{
    display: flex;
    width: 100%;
}

.center-svg{
    margin: 0 auto;
}

.flex-container-center{
    justify-content: center;
}

.flex-container-end{
    justify-content: flex-end;
}

.right{
    text-align: right;
}

.fit{
    width: auto;
}

.flex-container-sb{
    justify-content: space-between;
}

.justify-start {
  margin-right: auto;
  margin-left: 26em;
}

.flex-container-sa{
    justify-content: space-around;
}

.flex-container-row{
    flex-direction: row;
}

.flex-container-col{
    flex-direction: column;
}

.spacing{
    margin: 1%;
}

.flex-container-items-align-start{
    align-items: flex-start;
}

.flex-container-items-align-end{
    align-items: flex-end;
}

.flex-container-items-center{
    align-content: center;
}

.flex-container-items-start{
    align-content: flex-start;
}



.flex-container-items-sb{
    align-content: space-between;
}

.flex-container-items-sa{
    align-content: space-around;
}

.box-heading{
    color: #52616b;
    font-size: 2.1em;
}

.ieHideCurve{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

input[name=full_name],input[name=email]{

    height: 3.4em;

}

input[name=full_name],input[name=email],.form-poruka{
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    border: 2px solid #76cee5;
    padding-left: .5em;
}

.submitter{
    color: #cc366f;
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background: none;
}
.submitter:focus{
    outline: none;
}

.submitter:focus *{
    box-shadow: 2px 2px 5px #76cee5;
}

.bolder_small{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.resizeable_pic{
    width: 100%;
}

.true_middle{
    margin: 5% auto;
}

.no-transform *{
    text-transform: none;
}

.footer-title{
    text-transform: uppercase;
    color: white;
    font-size: 16pt;
}

.footer-title h6{
    background:linear-gradient(white,white) bottom left no-repeat;
    background-size:50% 2px;
}

.form-poruka{

    resize: none;
    height: 24em;
    padding-top: 1em;
}

.gap-bottom-lg{
    margin-bottom: 12%;
}

.gap-bottom-pad-lg{
    padding-bottom: 12%;
}

.gap-bottom-pad-md{
    padding-bottom: 6%;
}

.footer-logo{
    width: 100%;
}

.gap-top-pad-md{
    padding-top: 6%;
}

.gap-top-pad-lg{
    padding-top: 12%;
}

.contained{
    margin: 0 2em;
}

.standout{
    margin: 1em;
}

.rounded{
    border-radius: 20px;
}

.food-item-pic{
    
    max-width: 600px;
}

.white{
    background: white;
}


.col-footer{width:20%;}
.col-food-space{width:25%;}
.col-food-item{width: 24%; background: white;}
.col-food-gap{width: 2%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   
    padding: 0;
    border: 1px solid transparent;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    padding:5px;
}
.tiny{
    width: 5%;
}

.maincolor1{
    fill:#44A0AF;
}
.maincolor2{
    fill: red;
}

.logo-spacing{
    margin: 2em 0;
}

.grassy{
    background:linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../assets/images/background.png") !important;
    background-position: bottom !important;
    background-repeat: no-repeat !important;

}

.navbar ul li a, navbar ul li a:hover,navbar ul li a:visited{
    color: #76cee5;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.contained *{
    padding: 2% 7%;
}

.philosophy_paragraph{
    font-size: .82em;
    font-weight: 100;
    text-align: justify;

}

.subheading_tagline{
    font-weight: 300;
}

section{
    position: relative;
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
}
.dividem{
    margin: 10% 0;
}

.divide{
    padding-top: 10%;
}

.divide2{
    padding-top: 15%;
}
.center-rectangle{
    border-radius: 20px;
    background: white;
    border: 2px solid #76cee5;
}

.spaced img{
    margin: 7em 6em;  
}

.gap{
    margin-top: 3em;
}

.gap-sm{
    margin-top:.5em;
}

.paragraph_1{
    margin: .8em;
}

.circle{
    cursor:pointer;
    text-align: center;
    border-radius: 100%;
    margin: 0.15em;
    font-size: 1.4em;
}

.orange_line{
    padding-bottom: 4px;
    border-bottom: 1px solid orange;
}

.medium{
    font-size: 3em;
}
.dark_pink{
    background: #cc366f;
    color:white;
    padding: 0.45em 0.25em;
}

.inner{
    text-align: center;
}

.paw-img{
    width: 30%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: right;
}
.paw-button{
    margin-top: 13%;
    color: #cc366f;
    font-weight: bold;
}

.large-icon{
    font-size: 2em;
}

.paw-img::after{
    content: "";
    clear: both;
    display: table;
    padding:5px;
}

.cyan{
    color:#76cee5;
}

.header-content{
    padding-top: 1%;
    margin: 0 1%;
}
.subheading_text{
    color: #996666;
}

.section1{

    background: #f0f5f9;
}

.dog,.fungus{
    width: 80%;
}

.section2{
    background: white;

}



.center{
    text-align: center;
}
.center img{
    margin: 0 auto;
}

.mainCurve{
    position: absolute;
    bottom:0;
    width: 100%
}



.head-box{
    width: 50%;
}

.navbar{
    margin-top: 3em;
}

.navbar ul{
    list-style-type: none;
    /*text-align: center;*/
}

.navbar li{
    /*display: inline;*/
    margin: 0 2%;
}

.navbar li a{
    text-decoration: none;
    text-transform: uppercase;
}

.navbar li a:hover{
    text-decoration: underline;
}

.selectdiv {
    position: relative;  
}

select::-ms-expand {
    display: none;
}
.info-title{
    color: #996666;
    font-size: 2.1em;
    font-family: 'Oswald', sans-serif;
}

.paragraph_1{
    font-size: 1.2em;
    font-weight:300;
}

.selectdiv:after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #76cee5;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;


    top: 9px;

    /*left line */

    position: absolute;
    pointer-events: none;
}

.selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: fit-content;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #76cee5;
    background: none;
    border: none;
    -ms-word-break: normal;
    word-break: normal;
    outline: none;
}

.selectdiv select option{
    margin: 40px;
    width: 10px;
    outline: none;
    border: none;
    background: linear-gradient(to right, rgba(255,255,255,0.6), rgba(255,255,255,0.6));
    color: black;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.pc-tab > input,
.pc-tab section > div{
    display: none;
}

#pet_tab_1:checked ~ section .pet_tab_1,
#pet_tab_2:checked ~ section .pet_tab_2,
#livestock_tab_1:checked ~ section .livestock_tab_1,
#livestock_tab_2:checked ~ section .livestock_tab_2{
    display: block;
}
.pc-tab{
    height: 10em;

}




.pet_tab_1,.pet_tab_2,.livestock_tab_1,.livestock_tab_2{

}

#pet_tab_1 ~ nav .pet_tab_1 label, #livestock_tab_1 ~ nav .livestock_tab_1 label{
    background:linear-gradient(#c5c5c5,#c5c5c5) bottom  left/* left or right or else */ no-repeat;
    background-size:90% 3px;
    padding-bottom: 12%;
    color: #c5c5c5;
    text-transform: uppercase;
}

#pet_tab_2 ~ nav .pet_tab_2 label, #livestock_tab_2 ~ nav .livestock_tab_2 label{
    background:linear-gradient(#c5c5c5,#c5c5c5) bottom  left no-repeat;
    background-size:50% 3px;
    padding-bottom: 12%;
    color: #c5c5c5;
    text-transform: uppercase;
}

.pet_tab_2 label, .livestock_tab_2 label{
    background:linear-gradient(#c5c5c5,#c5c5c5) bottom  left no-repeat;
    background-size:50% 3px;
    padding-bottom: 12%;
}

.mobile-margin{
    margin-right: 26em;
}

.line{
    height: auto;
    background:linear-gradient(#f0f5f9,#f0f5f9) center  no-repeat;
    background-size:100% 3px;
}



.articles, .articles-2{
    max-width: 600px;
    object-fit: contain;
}

.articles,.articles-2,.info-title{
    margin-left: 1%;
}

.fungus{
    min-width: 300px;
}

.articles-2 p:nth-child(1)
{
    font-size: 1.2em;
}

.articles-2 p
{
    font-size: .9em;
}

.articles p:nth-child(even)
{
    font-size: .9em;
}

.articles p:nth-child(odd)
{

    font-size: 1.2em;
}


.tabs li{
    display: inline-block;
    margin: 0 1em;
    border-bottom:none;
}

.footer-paragraph{
    color: white;
}

.footer-title .row{
    padding: 3% 0;
}

.footer-title a, .footer-title a:active, .footer-title a:visited, .links a, links a:active, links a:visited{
    color:white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 2% 0;
}

.cat{
    padding-top: 3%;
}

.footer-title a:hover, .links a:hover{
    text-decoration: underline;
}

.tabs li:active{
    color: #cc366f;    
}

.underlined{
    border-bottom: 1px solid white;
}

.price{
    color:#c5c5c5;
    font-weight: 400;
    font-size: medium;
    text-align: center;
}
.price-num{
    color:black;
    font-weight: 600;
    font-size: medium;
    text-align: center;
}

.pet_tab_1,.pet_tab_2,.livestock_tab_1,.livestock_tab_2{
    margin: 6% 2%;
    text-align: justify;
    font-size: 13px;
}
#pet_tab_1:checked ~ nav .pet_tab_1 label,
#livestock_tab_1:checked ~ nav .livestock_tab_1 label
{

    color:#cc366f;
    background:linear-gradient(#cc366f,#cc366f) bottom  left/* left or right or else */ no-repeat;
    background-size:90% 3px;
}

#pet_tab_2:checked ~ nav .pet_tab_2 label,
#livestock_tab_2:checked ~ nav .livestock_tab_2 label{
    color:#cc366f;
    background:linear-gradient(#cc366f,#cc366f) bottom  left/* left or right or else */ no-repeat;
    background-size:50% 3px;

}

.footer{
    background: #996666;
}

@media (max-width:481px)  {
    
    .flex-container-end-responsive{
        justify-content: center;
    }

    .cart{
        padding-left: 0;
        margin-left: 2em;
    }
    
    .justify-start{
        
    }
    
    .spaced img{
        margin: 2em;
    }
    
    .mobile-margin{
        margin-left: 0;
        margin-right: 0;
    }
    
    [class*="col-"] {
        width: 100%;
    }
    
    .header-cols .col-1{
        width: 10%;
    }
    
    .header-cols col-5{
        width: 80%;
    }
    .flex-container-row-responsive{
        flex-direction: column;
    }
    
    .fungus{
        min-width: 200px;
    }
    
    
    
    .header-cols .col-3, .header-cols .col-2{
        width: 0;
    }

    .livestock_tab_1,.livestock_tab_2,
    .pet_tab_1, .pet_tab_2{
        margin: 2% 4%;
    }

    .dog, .fungus{
        
    }
    .divider{
        background:linear-gradient(#76cee5,#76cee5) bottom  left/* left or right or else */ no-repeat;
        background-size:100% 3px;
    }

    .col-food-space{
        margin-top: 4%;
    }

    .info-title{
        font-size: 2em;
    }
    
    .header-cols .col-1{
        width: 20%;
    }
    
    .header-cols .col-5{
        width: 60%;
    }

}

@media(min-width: 482px) and (max-width:637px){
    [class*="col-"] {
        width: 100%;
    }
    .flex-container-end-responsive{
        justify-content: center;
    }
    .fungus{
        max-width: 50px;
    }
    .dog{
        max-width: 200px;
    }
    
}
@media (min-width:638px) and (max-width: 960px){
    [class*="col-"] {
        width: 100%;
    }
    
    .flex-container-end-responsive{
        justify-content: center;
    }
    
    .selectdiv{
        margin-right: 0;
    }
    
    .justify-start{
        margin: 0;
    }

    .cart{
        padding-left: 0;
        
    }
    
    .fungus{
        max-width: 100px;
    }
    
    .dog{
        max-width: 300px;
    }

    .livestock_tab_1,.livestock_tab_2,
    .pet_tab_1, .pet_tab_2{
        margin: 6% 13%;
    }

    .contained *{
        padding: 2% 1%;
    }
    .footer-about{
        margin-top: 8%;
    }
    .true_middle{
        text-align: center;
    }

    .footer-logo{
        width: 40%;
    }

    .dog, .fungus{
       
    }
    .divider{
        background:linear-gradient(#76cee5,#76cee5) bottom  left no-repeat;
        background-size:100% 3px;
    }

    .col-food-space{
        margin-top: 4%;
    }

    .info-title{
        font-size: 2em;
    }

    .food-item-pic{
        width: 50%;
    }
    
    .flex-container-row-responsive{
        flex-direction: column;
    }
}

@media (min-width:961px) and (max-width: 1281px){ 
    .food-item-pic{
        width: 20%;                        
    } 
    
    .paw-img{
        width: 10%;
    }
    
    .flex-container-row-responsive{
        flex-direction: column;
    }
    
    .col-2{
        width: 60%;
    }
    
    .col-4{
        width: 100%;
    }
    
    

    .contained p{
        padding: 0 1%;
    }

    

    .col-food-space{
        width: 12.5%;
    }

    .col-food-gap{
        width: 5%;

    }

    .col-food-item{
        width: 35%;
    }
    
    .fungus{
        max-width: 150px;
    }

    .dog{
        max-width: 300px;
        margin-right: 2%;
        
    }

    .divider{
        background:linear-gradient(#76cee5,#76cee5) bottom  left no-repeat;
        background-size:100% 3px;
    }
    
    

}







