
.icon-cow:before { content: '\e800'; } /* '' */
.icon-pets:before { content: '\e803'; } /* '' */
.icon-sapa_cta:before { content: '\e804'; } /* '' */
.icon-shopping-cart:before { content: '\e805'; } /* '' */
.icon-three-paws:before { content: '\e806'; } /* '' */