@font-face {
  font-family: 'plavi_piksel-toni';
  src: url('../font/plavi_piksel-toni.eot?62545691');
  src: url('../font/plavi_piksel-toni.eot?62545691#iefix') format('embedded-opentype'),
       url('../font/plavi_piksel-toni.woff2?62545691') format('woff2'),
       url('../font/plavi_piksel-toni.woff?62545691') format('woff'),
       url('../font/plavi_piksel-toni.ttf?62545691') format('truetype'),
       url('../font/plavi_piksel-toni.svg?62545691#plavi_piksel-toni') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'plavi_piksel-toni';
    src: url('../font/plavi_piksel-toni.svg?62545691#plavi_piksel-toni') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "plavi_piksel-toni";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cow:before { content: '\e800'; } /* '' */
.icon-pets:before { content: '\e803'; } /* '' */
.icon-sapa_cta:before { content: '\e804'; } /* '' */
.icon-shopping-cart:before { content: '\e805'; } /* '' */
.icon-three-paws:before { content: '\e806'; } /* '' */